#addUserMainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20% 0 0 0 ;
    
}

#formDiv{
    display: flex;
    border-style: solid;
    border-radius: 8px;
    border-color: chartreuse;
    width: 250px;
    height: auto;

}
#btnsDiv{
    display:flex;
    margin: 4px 0 4px 150px;
    
}
#form{
margin: 10% 0 0 0 ;
}

label{
    margin: 0 0 0 5px;
}
input[type=text]{
    padding:8px 4px;
    margin:5px 0 5px 2px;
    border-radius:  20px;
    border: 2px solid #eee;
    box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.062);
}

input[type=submit]{
    background:#ffffff;
      color: #039603;
      padding: 4px 4px;
      border-radius: 5px;
      border-style: solid ;
      border-color: #039603;
      margin: 0 0 0 4px;
  }
  input[type=button]#cancelBtn{
    background:#ffffff;
      color: #393d39;
      padding: 4px 4px;
      border-radius: 5px;
      border-style: solid ;
      border-color: #393d39;
  }
  input[type=button]#cancelBtn:hover{
    background-color: #393d39;
    color:#ffffff;
  }
  
  input[type=button]{
    background:#ffffff;
      color: #039603;
      padding: 4px 4px;
      border-radius: 5px;
      border-style: solid ;
      border-color: #039603;
      margin: 0 0 0 4px;  
  }
  
  input[type=button]:hover , input[type=submit]:hover{
    background-color: #039603;
    color:#ffffff;
  }