<div id="userData" [style.backgroundColor]="isClicked? '#fa824c4d' : 'white' " #usrDataDiv [style.border-color]="checkTodosStatus()? '#008000':'#cf2727'">
    
    <form #usrForm="ngForm" (ngSubmit)="updateUser(usrForm.form.valid)">
        <span id="userId" (click)="goToDashboard()">ID:{{user._id}}</span><br />
        <!--User Name-->
        <label for="name">Name </label><br/>
        <input required type="text" name="name" #name="ngModel" [(ngModel)]="user.name"><br />
        <h6 *ngIf="!name.valid && name.dirty" style="color: #ff0000;">User must have Name!</h6>        
        <!--User Email-->
        <label for="email">Email Adress </label><br/>
        <input required type="text" class="form-control" name="email" #email="ngModel" [(ngModel)]="user.email"><br />
        <h6 *ngIf="!email.valid && email.dirty" style="color: #ff0000;">email is rquired</h6>
        
        <!--Other Data Section-->
        <div id="usrOtrDataBtn">
            <span id="otherData" (mouseover)="showOtherData = true" (click)="showOtherData =false ">Other Data</span><br />
        </div>
        
        <!--Other Data Div-->
        <div id="usrOtrData" [style.display]="showOtherData? 'block' : 'none' ">
            <label for="street">Street </label><br/>
            <input type="text" name="street" #street="ngModel" [(ngModel)]="user.street"><br />
            <label for="city">City </label><br/>
            <input type="text" name="city" #city="ngModel" [(ngModel)]="user.city"><br />
            <label for="zipcode">Zipcode </label><br/>
            <input type="text" name="zipcode" #zipcode="ngModel" [(ngModel)]="user.zipcode"><br />
        </div>
        <div id="reqBtns">
            <input id="updateBtn" type="submit" name="update" value="Update">
            <button id="deleteBtn" (click)="deleteUser(user._id!)">Delete</button>
        </div>

    </form>
</div><br />