#todoData{
    border-style: solid;
    border-color:rebeccapurple;
    width: 225px;
    height: auto;
    margin: 0 28%;
    border-radius: 8px;
}

#MCDiv{
    display: flex;
    position: relative;
    margin: -7.5px 1.5px 0px 0px;
    justify-content:flex-end;
}

#mtpBTN{
    background:#ffffff;
	color: #d2df25;
    padding: 8px 8px;
    border-radius: 5px;
    border-style: solid ;
    border-color: #d2df25;
    margin: 0 0 2px 0;
}

#mtpBTN:hover{
    background-color: #d2df25;
    color:#ffffff;
}

h4{
    margin: 2px 0 2px 4px;
  }

