body{
    font-family: 'Scada', sans-serif;
}

#mainDiv{
    display: inline-flex;
    flex-wrap: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

}
#usersMainDiv{
    border-style: solid;
    border-radius: 8px; 
    height: 550px;
    width:500px;

}
#userDashboard{
    border-style: solid;
    border-radius: 8px;
    height: auto;
    width: 500px;

}
